@import '../../../Shared/Styles/Variables';

.flyin {
  display: grid;
  position: fixed;
  top: 0;
  right: -210px;
  bottom: 0;
  transition: right 750ms ease-in-out;
  width: 260px;
  grid-template-columns: 40px auto;
  grid-gap: 10px;

  &.is-open {
    right: 0;
  }
}

.flyin-button {
  border: 0;
  background: transparent;
  // we need the vendor prefixes here to get rid of default stylings
  -webkit-appearance: none; //sass-lint:disable-line no-vendor-prefixes
  -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes
}

.flyin-collapse-area {
  box-shadow: 0 0 6px $shadow-color;
  padding: 10px;
  width: 100%;
}
